// @use 'sass:math';
@import './font.scss';
@import './icons.scss';
@import './images.scss';
@import './transition.scss';
@import './variables.scss';
// bootstrap-vue
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

body {
  overflow-x: hidden;
  // min-height: 100vh;
  background-color: #ededed;
  max-width: 100vw;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    width: 3px;
    // background-color: $secondary;
  }
  &::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: $primary;
  }
  scroll-behavior: smooth;
  * {
    &::selection {
      background-color: $primary;
      color: $secondary;
    }
  }
}

#app {
  max-width: 100vw;
  overflow-x: hidden;
}

.form-control {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
}

.b-toaster {
  z-index: 3000;
  * {
    max-width: unset;
  }
  header.toast-header {
    display: none;
  }
  .toast-body {
    border-radius: 0;
    background-color: $darkest;
    color: $secondary;
  }
  .b-toaster-slot {
    min-width: 300px;
    .b-toast {
      width: 100%;
      max-width: 35vw;
      word-break: keep-all;
    }
  }
}

.alarm-dot {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 25rem;
  font-size: 11px;
  padding: 2px 6px;
  color: white;
  background-color: $error;
  min-width: 24px;
  text-align: center;
  font-weight: 700;
}
